<div class="mt-5">
  <header class="text-center">
    <h2 *ngIf="value">{{value}}</h2>
  </header>

</div>
<div class="container">
  <tabset>
    <tab heading="tab 1" (selectTab)="onSelect($event)">


      <div class="form-group col-md-6 mx-auto mt-4">
        <input [(ngModel)]="first_name" autofocus class="form-control" type="text">
      </div>

      <div class="table-wrapper-scroll-y custom-scrollbar">
        <table class="table py-3 container mt-4">
          <thead>
            <td>ID</td>
            <td>EMAIL</td>
            <td>FIRST NAME</td>
            <td>LAST NAME</td>
            <td>AVATAR</td>

          </thead>

          <tbody class="tbodyData">
            <tr #trSelected style="cursor: pointer;" (click)="data(user.id,trSelected)"
              *ngFor="let user of users | filterTable: first_name">
              <td>{{user.id}}</td>
              <td>{{user.email}}</td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td><img [alt]=user.first_name class="rounded-circle" [src]=user.avatar alt=""></td>
            </tr>
          </tbody>
        </table>
      </div>

    </tab>


    <tab heading="tab 2" class="mt-2" (selectTab)="onSelect($event)">

      <ng-container *ngIf="validUser;else userExist">
        <app-user-selected [info]="user"></app-user-selected>
      </ng-container>

      <ng-template #userExist>
        <div class="alert alert-info" role="alert">
          Usuario no Seleccionado!!
        </div>
      </ng-template>

    </tab>

    <tab heading="tab 3" class="mt-2" (selectTab)="onSelect($event)">

      <button type="button" class="btn btn-primary col-md-3 mx-auto btn-block mt-5" data-toggle="modal"
        data-target="#exampleModal">
        Modal Data User
      </button>


    </tab>
  </tabset>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DATA USER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="validUser;else userExist">
          <div class="card">
            <img class="card-img-top" [src]=user.avatar alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{user.first_name}}</h5>
              <p class="card-text">{{user.email}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </ng-container>


      </div>

    </div>
  </div>
</div>
<!-- end -->


<router-outlet></router-outlet>

<app-footer></app-footer>